<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>

    <script type="text/babel" src="/static/scripts/Todo.js"></script>
    <script type="text/babel" src="/static/scripts/TodoItem.js"></script>
    <script type="text/babel" src="/static/scripts/AddTodo.js"></script>
  </head>

  <body>
    <div id="main"></div>

    <script type="text/babel">
      ReactDOM.render(
        <Todo />, document.getElementById('main')
      );
    </script>
  </body>
</html>
